body#about {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  //justify-content: flex-start;
}

.container-half {
  width: 50%;
  height: 100%;
  flex-flow: column;
}

#slider-one {
  height: 60%;
  flex: 1 0 580px;
  order: 1;
  -webkit-transition: background 1.4s ease;
  -moz-transition: background 1.4s ease;
  -ms-transition: background 1.4s ease;
  -o-transition: background 1.4s ease;
  transition: background 1.4s ease;
}

#bottom-left {
  height: 40%;
  background-color: $mist;
  padding: 15px 20px 0px 20px;
  box-sizing: border-box;
  flex: 1 0 580px;
}

#about-right {
  height: 100%;
  background: url(../images/02.jpg) no-repeat center;
  background-size: cover;
  flex: 1 0 580px;
  order: 2;
}

////////// MEDIA QUERIES //////////
////////// Landscape View //////////
@media screen and(max-width: 1480px) {
  p {
    font-size: 1.7rem;
    margin-bottom: 20px;
    line-height: 2rem;
  }
}

@media screen and(max-width: 1280px) {
  h2 {
    margin-bottom: 28px;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 1.65rem;
  }
}

@media screen and(max-width: 1024px) {
  h2 {
    font-size: 2.2rem;
    word-spacing: 1.1rem;
    margin-bottom: 28px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 18px;
    line-height: 1.6rem;
  }
}

@media screen and(max-width: 750px) {
  #container-left {
    overflow-y: auto;
  }

  #bottom-left {
    background-color: $white;
  }
}

////////// Portrait View //////////
@media screen and(max-width: 1124px)
and(orientation: portrait) {
  .container-half {
    min-width: 562px;
    height: auto;
    flex-flow: row;
    flex-grow: 1;
  }

  h2 {
    font-size: 3.25rem;
    word-spacing: 1.5rem;
  }

  p {
    font-size: 1.65rem;
    line-height: 2.25rem;
  }

  #about-right {
    background: url(../images/02-port.jpg) no-repeat center;
    background-size: cover;
  }
}

@media screen and(max-width: 800px)
and(orientation: portrait) {
  .container-half {
    min-width: 450px;
    height: auto;
  }

  #bottom-left {
    height: 130%;
    background-color: $white;
  }

  #container-left {
    overflow: hidden;
  }

  #about-right {
    height: 100%;
  }

  h2 {
    font-size: 2.2rem;
    word-spacing: 1.1rem;
    margin-bottom: 28px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media screen and(max-width: 450px)
and(orientation: portrait) {
  .container-half {
    min-width: 350px;
    height: 135%;
  }

  #bottom-left {
    height: 100%;
    background-color: $white;
  }

  .container-half#container-right {
    height: 60%;
  }
}

@media screen and(max-width: 380px)
and(orientation: portrait) {
  .container-half {
    min-width: 350px;
    height: 125%;
  }

  #slider-one {
    height: 45%;
  }

  .container-half#container-right {
    height: 50%;
  }
}
